.footer {
  background-color: #232323;
  width: 1770px;
  height: 268px;
  color: #ffffff;
  display: flex;

 flex-direction: column;  
 justify-content: center;
 align-items: center;
}
.logo {
  width: 196px;
  height: 26px;
  flex-direction: column;
  justify-content: space-between;

  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}
.icons{
    display: flex;
    gap: 30px;
}
