.main__third{
    background-image:url('./../images/background-2.png') ;
    width: 1770px;
    height: 700px;
    display: flex;  
}
.main__container{
    width: 543px;
    height:374px;
    background-color: #232323;
    margin-left: 328px;
    transition: background-color 0.3s ease;
    padding: 40px;  
    position: absolute;
    margin-top: 227px;
    margin-left: 328px;
      
}
   
.main__container:hover{
    opacity: 0.6;
    color:  #232323;
}

.title{
    font-family: 'Josefin',sans-serif;
    color: #FFFFFF;
    line-height: 26px;
    margin-right: 20px;
    padding: 25px;
}
   
.btn{
    width: 112px;
    height: 63px;
    background-color: #496BFE;
    margin: 25px;
}


