@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap"); /* import font */
.label__title{
  font-family: 'Aleo',sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin-left:334px;
}
nav {
  margin-right: 300px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      font-weight: bold;
      color: #FFFFFF;
      font-family: 'Aleo',sans-serif;
      font-size: 14px;
    }
  }
  .header__nav {
    display: flex;
    justify-content: space-between; 
    background-color: #5474FD;
    align-items: end;
    flex-wrap: wrap;
    align-items: center;
  }