body {
    font-size: 18px;
  }
  .header {
    max-width: 480px; 
  } 
  .main__first {
    max-width:  480px;
  }  .main__second{
    max-width: 480px;
  }  .main__third {
    max-width:  480px;
  }  .main__fourth {
    max-width:  480px; 
  }
  .main__fifth {
    max-width:  480px; 
  }
  .footer {
    max-width: 480px;
  }

 