body {
    font-size: 14px;
  }

  .header {
    max-width: 320px; 
  } 
  .main__first {
    max-width:320px; 
  }  .main__second{
    max-width:320px;  
  }  .main__third {
    max-width: 320px; 
  }  .main__fourth {
    max-width: 320px; 
  }
  .main__fifth {
    max-width: 320px;  
  }
  .footer {
    max-width: 320px;  
  }
  .label__title{
    margin-left: 0;
  }

