.header {
  max-width: 768px;
}
.main__first {
  max-width: 768px;
}
.main__second {
  max-width: 768px;
}
.main__third {
  max-width: 768px;
}
.main__fourth {
  max-width: 768px;
}
.main__fifth {
  max-width: 768px;
}
.footer {
  max-width: 768px;
}

.grid__container {
  grid-template-columns: 1fr;
}
